<div style="text-align:center; font-family: Arial, Helvetica, sans-serif">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<users-carousel 
  [items]="userItems" 
  [itemsNumberPerRow]="4" 
  [addItems]="true" 
  [title]="'User Carousel'"
  [styleSettings]="{
    'arrowColor': '#3166D6',
    'arrowColorDisabled': '#DDDDDD',
    
    'titleColor': '#3166D6',
    'titleSize': '30px',
    'titleWeight': 'bold',

    'isInfoLabelToShow': true,
    'infoLabelColor': '#5F5F5F',
    'infoLabelSize': '15px',
    'infoLabelWeight': 'bold',

    'borderColor': '#3166D6',
    'addButtonLabel': 'Add user'
  }"
  (itemSelectedOutput)="showUserForm($event)"
></users-carousel>

